{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<header class="item-header">
  <h1 class="item-title" itemprop="name headline">{{ .Title }}</h1>
  {{- if in (slice "artikel" "rezepte") .Type }}{{ block "item-meta" . }}{{ partial "item-meta.html" . }}{{ end }}{{ end }}
</header>

<div class="item-content" itemprop="articleBody">
{{ .Content }}
</div>{{ "<!--articleBody-end-->" | safeHTML }}
{{ if in (slice "artikel" "rezepte") .Type }}
<footer>
  <p class="item-meta">Zuletzt geändert am {{ .Lastmod.Day }}. {{ index $.Site.Data.months (.Lastmod.Format "January") }} {{ .Lastmod.Year }}, Du kannst diesen Beitrag via <a href="mailto:{{ $.Site.Data.authors.agobrecht.email }}?subject=Kommentar%20zu%20{{ .URL }}">Email</a> kommentieren</p>
  {{ with .PrevInSection }}<span class="left item-meta">&#x2190; <a href="{{ .RelPermalink }}">{{ .Title }}</a></span>{{ end }}
  {{ with .NextInSection }}<span class="right item-meta"><a href="{{ .RelPermalink }}">{{ .Title }}</a> &#x2192;</span>{{ end }}
</footer>
{{- end }}

</article>
{{ end }}