* {
    box-sizing: border-box;
}

// Reset some basic elements

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}


// Basic styling

body {
    font: $base-font-weight #{$base-font-size} / #{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    text-size-adjust: 100%;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
}


// Set `margin-bottom` to maintain vertical rhythm

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure
table,
hr,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}


// Images

img,
.image {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow-img-pre;
}


// Figures

figure {
    border: 0;

    & > img {
        display: block;
    }

    & pre,
    & .highlight {
        margin-bottom: 0 !important;
    }
}

// https://stackoverflow.com/questions/38324326/sass-multiplication-with-units
figcaption {
    font-style: italic;
    font-size: $small-font-size;
    color: $grey-color;
    line-height: $small-line-height;
    margin-top: 3px;
    margin-bottom: ($large-line-height - $small-line-height) * $base-font-size / 2 + $spacing-unit / 2;
}


// Lists

ul,
ol {
    margin-left: $spacing-unit;
}

li {
    >ul,
    >ol {
        margin-bottom: 0;
    }
}

dt {
    font-style: italic;
    font-weight: 600;
}

dd {
    padding: 0 $spacing-unit / 2;
}


// Links

a {
    color: $brand-color;
    text-decoration: $link-text-decoration;

    &:hover {
        text-decoration: underline;
    }

    //https://stackoverflow.com/questions/10768451/inline-svg-in-css
    &.external {
        &::after {
            $color-rgb: 'rgb(' + red($brand-color) + '%2C' + green($brand-color) + '%2C' + blue($brand-color) + ')';
            margin-left: 2px;
            content: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22#{$color-rgb}%22%20aria-label%3D%22External%20Link%22%3E%3Cpath%20d%3D%22M25.152%2016.576v5.696q0%202.144-1.504%203.648t-3.648%201.504h-14.848q-2.144%200-3.648-1.504t-1.504-3.648v-14.848q0-2.112%201.504-3.616t3.648-1.536h12.576q0.224%200%200.384%200.16t0.16%200.416v1.152q0%200.256-0.16%200.416t-0.384%200.16h-12.576q-1.184%200-2.016%200.832t-0.864%202.016v14.848q0%201.184%200.864%202.016t2.016%200.864h14.848q1.184%200%202.016-0.864t0.832-2.016v-5.696q0-0.256%200.16-0.416t0.416-0.16h1.152q0.256%200%200.416%200.16t0.16%200.416zM32%201.152v9.12q0%200.48-0.352%200.8t-0.8%200.352-0.8-0.352l-3.136-3.136-11.648%2011.648q-0.16%200.192-0.416%200.192t-0.384-0.192l-2.048-2.048q-0.192-0.16-0.192-0.384t0.192-0.416l11.648-11.648-3.136-3.136q-0.352-0.352-0.352-0.8t0.352-0.8%200.8-0.352h9.12q0.48%200%200.8%200.352t0.352%200.8z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }
    }
}


// Blockquotes

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


// Code formatting

pre,
code {
    font-size: $small-font-size;
    border-radius: $base-border-radius;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    box-shadow: $box-shadow-img-pre;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

// Mark text as keyboard key: `SHIFT`{:.keyboard} + `CTRL`{:.keyboard}

.keyboard {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    display: inline-block;
    font-family: consolas, 'Liberation Mono', courier, monospace;
    font-size: $small-font-size;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}


// Misc

hr {
    display: block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px solid $grey-color-light;
}

p {
    line-height: $large-line-height;
}


// Tables

table {
    width: 100%;
    font-size: $small-font-size;
    text-align: $table-text-align;
    color: lighten($text-color, 18%);
    border-collapse: collapse;
    border: 1px solid $grey-color-light;

    tr {
        &:nth-child(even) {
            background-color: lighten($grey-color-light, 6%);
        }
    }

    th,
    td {
        padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }

    th {
        background-color: lighten($grey-color-light, 3%);
        border: 1px solid darken($grey-color-light, 4%);
        border-bottom-color: darken($grey-color-light, 12%);
    }

    td {
        border: 1px solid $grey-color-light;
    }

    // Don't use a margin on code samples within tables
    pre {
        margin-bottom: 0;
    }
}
